<section>
    <h2>Container networks (2)</h2>
    <p>
        <a style="font-size: 0.5em" href="https://docs.docker.com/engine/reference/run/#network-settings" target="_blank">reference</a>
    </p>

    <div style="text-align: left">
    The docker run command provides the --net argument to control the container network configuration

        <pre><p class="command">
    --net=&quot;bridge&quot;:     Connect a container to a network
                        <mark>'bridge': create a network stack on the default Docker bridge</mark>
                        'none': no networking
                        'container:&lt;name|id&gt;': reuse another container's network stack
                        'host': use the Docker host network stack
                        '&lt;network-name&gt;|&lt;network-id&gt;': connect to a user-defined network
        </p></pre>

    </div>
</section>