<section>
    <h2>Service discovery</h2>

    <div style="text-align: left">

    <ul>
        <li>Docker provides DNS based discovery out of the box</li>
        <li>Connection details passed into containers as ENV vars</li>
    </ul>

    <pre><p class="command">
    $ docker run ... -e SERVICE_URL=http://web ...
    </p></pre>

    </div>

</section>