<section class="hands-on" data-state="hands-on">
    <h2>Hands-on</h2>
    <p>
        <a style="font-size: 0.5em" href="https://bitbucket.org/ti8m/docker-academy/raw/master/labs/multi-container-environment"
           target="_blank">lab</a>
    </p>

    <ul>
        <li>Link two containers</li>
        <li>Connect containers using a user defined networks</li>
        <li>Connect demo application container (academy-frontend) with postgres DB</li>
    </ul>
</section>