<section>
    <h2>containers are Stateless</h2>

    <div class="fragment" data-fragment-index="1">
        STATELESS
    </div>
    <div class="fragment" data-fragment-index="2">
        STATELESS
    </div>
    <div class="fragment" data-fragment-index="3">
        STATELESS
    </div>
    <div class="fragment" data-fragment-index="4" style="color: red">
        <p>Application data belongs to volumes</p>
    </div>

</section>