<section>
    <h2>data volume created manually</h2>

    <div style="text-align: left">
        <ul>
            <li>docker volume create</li>
        </ul>

    <pre><p class="command">
    $ docker volume create --name pgdata
    </p></pre>
        <p class="hint">
            <span>docker volume --help</span> </p>

    <pre>
     <p class="command">

     $ docker run -v pgdata/var/lib/postgresql/data -d --name pgdb postgres
     $ docker inspect  -f "&#123;&#123;json .Mounts&#125;&#125;" pgdb | python -mjson.tool

      "Destination": "/var/lib/postgresql/data",
      "Driver": "local",
      "Mode": "z",
      "Name": "pgdata",
      "Propagation": "rprivate",
      "RW": true,
      "Source": "/var/lib/docker/volumes/pgdata/_data"

    </p></pre>
        </div>

</section>