<section>
    <h2>host mount as volume</h2>

    <div style="text-align: left">
        <ul>
            <li>docker run -v &lt;host-path&gt;:&lt;containter-path&gt;</li>
        </ul>
    <pre><p class="command">
    $ docker run -d -v $PWD:/var/lib/postgresql/data:z --name pgdb postgres
    $ docker inspect  -f "&#123;&#123;json .Mounts&#125;&#125;" pgdb | python -mjson.tool

    "Destination": "/var/lib/postgresql/data",
    "Mode": "Z",
    "Propagation": "rprivate",
    "RW": true,
    "Source": "/root/pgdata"

    </p></pre>
        <p class="hint">
            <span>getenforce if SELinux is enabled. Z suffixes tell Docker to relabel file objects on volumes. Lower case z, tells Docker that two containers share the volume content.</span> </p>
        </div>

</section>