<section>
    <h2>Data volume summary</h2>

    <div>
        <ul>
            <li class="fragment">Like on native Linux os, permission needs to match</li>
            <li class="fragment">Data on a volume will not be copied into the image when you run a commit</li>
            <li class="fragment">Data volumes are not deleted when the container is deleted</li>
            <li class="fragment">Not only a directory but also single files like sockets can be mounted</li>
        </ul>
    </div>
</section>