<section>
    <h2>Management Commands</h2>

    <p>
        <a style="font-size: 0.5em" href="https://docs.docker.com/engine/reference/commandline/#docker-management-commands" target="_blank">reference</a>
    </p>

    <div style="text-align: left">
        <ul>
            <li>version</li>
        </ul>
        <pre><p class="command">
        docker version
        </p>
        </pre>
    </div>

    <div style="text-align: left">
        <ul>
            <li>info</li>
        </ul>
        <pre><p class="command">
        docker info
        </p>
        </pre>
    </div>
</section>