<section>
    <h2>Image Commands</h2>

    <p>
        <a style="font-size: 0.5em" href="https://docs.docker.com/engine/reference/commandline/#image-commands" target="_blank">reference</a>
    </p>


    <div style="text-align: left">
        <ul>
            <li>list images on your docker host</li>
        </ul>
        <pre><p class="command">
        docker images
        </p>
        </pre>
    </div>

    <div style="text-align: left">
        <ul>
            <li>remove one or several images</li>
        </ul>
        <pre><p class="command">
        docker rmi busybox
        </p>
        </pre>

    </div><div style="text-align: left">
        <ul>
            <li>show the history of an image</li>
        </ul>
        <pre><p class="command">
        docker history
        </p>
        </pre>
    </div>

</section>