<section>
    <h2>Automated deployment</h2>
    <p>
        <a style="font-size: 0.5em" href="https://bitbucket.org/ti8m/docker-academy/raw/master/labs/academy-app"
           target="_blank">lab</a>
    </p>
    <p>
        <img src="/images/academy-lab-infra.png">
    </p>

</section>