<section>
    <h2>Image layers</h2>
    <p>
        <a style="font-size: 0.5em" href="https://docs.docker.com/engine/userguide/storagedriver/imagesandcontainers/" target="_blank">reference</a>
    </p>

    <ul>
        <li>An image consists of a stack of read only layers</li>
        <li>Plus an additional writable layer on top</li>
        <li>Copy-on-write for optimizing container startup time and disk space usage</li>
    </ul>

    <pre><p class="command">
    [root@docker-academy ~]# docker history centos:7
    IMAGE        CREATED      CREATED BY
    d0e7f81ca65c 3 days ago   /bin/sh -c #(nop) CMD [&quot;/bin/bash&quot;]
    &lt;missing&gt;    3 days ago   /bin/sh -c #(nop) LABEL name=CentOS Base Imag
    &lt;missing&gt;    3 days ago   /bin/sh -c #(nop) ADD file:72852fc7626d233343
    &lt;missing&gt;    6 months ago /bin/sh -c #(nop) MAINTAINER The CentOS Proje
    </p></pre>
    <p class="hint"><span>Use --no-trunc to see complete commands</span></p>
</section>
