<section>
    <h2>Instructions - starting point</h2>
    <p>
        <a style="font-size: 0.5em" href="https://docs.docker.com/engine/reference/builder/" target="_blank">reference</a>
    </p>

    <div style="text-align: left">
    <ul>
        <li>FROM</li>
    </ul>
    <pre><p class="command" data-trim="">
    FROM &lt;image&gt;:&lt;tag&gt;
    FROM centos:7
    </p></pre>

    <p class="hint"><span>
        Using specific image tags is strongly recommended
    </span></p>

    <ul>
        <li>MAINTAINER</li>
    </ul>
    <pre><p class="command">
    MAINTAINER &lt;name&gt;
    MAINTAINER Thomas Treuthardt &lt;trt@ti8m.ch&gt;
    </p></pre>

    </div>

</section>
