<section>
    <h2>Instructions - startup</h2>

    <div style="text-align: left">
    <ul>
        <li>CMD</li>
    </ul>
    <pre><p class="command">
    CMD executable param1 param1
    CMD [&quot;executable&quot;,&quot;param1&quot;,&quot;param2&quot;]
    </p></pre>

    <p class="hint"><span>
        The two CMD variants are not equivalent. The first one results in /bin/sh &lt;executable&gt; whereas the later
        will result in exec &lt;executable&gt;
    </span></p>

    <p class="hint"><span>
        The executable has to handle Linux signals correctly!
    </span></p>

    <ul>
        <li>ENTRYPOINT</li>
    </ul>
    <pre><p class="command">
    ENTRYPOINT ["executable","param1","param2"]
    </p></pre>

    <pre><p class="command">
    ENTRYPOINT [&quot;npm&quot;]
    CMD [&quot;--install&quot;]

    # npm --install executed at startup
    </p></pre>

    </div>
</section>
