<section>
    <h2>Samples (2)</h2>

    <div>
        <a href="https://github.com/CentOS/CentOS-Dockerfiles" target="_blank">https://github.com/CentOS/CentOS-Dockerfiles</a>
        <p>
            <a href="https://github.com/CentOS/CentOS-Dockerfiles/blob/master/postgres/centos7/Dockerfile" target="_blank">Postgres</a> /
            <a href="https://github.com/CentOS/CentOS-Dockerfiles/blob/master/httpd/centos7/Dockerfile" target="_blank">Apache</a>
        </p>
    </div>


    <div>
        <a href="https://github.com/jfrazelle/dockerfiles" target="_blank">https://github.com/jfrazelle/dockerfiles</a>
        <p>mostly desktop samples</p>
    </div>

</section>
