<section>
    <h2>What is Docker</h2>

    <div style="height: 100%; display: block">

    <blockquote class="fragment" data-fragment-index="1">
        <p>Docker allows you to package an application with all of its dependencies into a standardized unit for
            software development.</p>
    </blockquote>

    <blockquote class="fragment" data-fragment-index="2">
        <p>
            Docker containers wrap up a piece of software in a complete filesystem that contains everything it needs to
            run: code, runtime, system tools, system libraries – anything you can install on a server. This guarantees
            that it will always run the same, regardless of the environment it is running in. </p>
    </blockquote>
    </div>
</section>